@charset "utf-8";

.pointer { cursor:pointer }
button { cursor:pointer }
table { width:100% !important; border-collapse:collapse; table-layout: fixed;}
ul, ol { list-style:none }
a { color:inherit; text-decoration:none }
